.canvas-container {
  width: 100%;
  height: calc(100vh - 60px);
  cursor: crosshair;
  position: relative;
  overflow: hidden;
}

.canvas-container.panning {
  cursor: grabbing;
}

.drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
